
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>

    </head>
    <!--Mostrar la lista arboles y los botones-->
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <section th:replace="~{arboli/fragmentos :: botonesAgregar}"/>
        <section th:replace="~{arboli/fragmentos :: agregarArboli}"/>
        <section th:replace="~{arboli/fragmentos :: listadoArbolis}"/>

    </body>
</html>

